<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- 部署服务库项目时，必须将配置文件的内容添加到主机的 app.config 文件中。System.Configuration 不支持库的配置文件。-->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="myBehavior" name="StreamService.Lib.StreamService">
        <!--<endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="myBasicHttpBinding" contract="WCFStreamService.IStreamService" />-->
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <endpoint address="net.tcp://localhost:8001/tcp" binding="netTcpBinding" bindingConfiguration="myNetTcpBinding" contract="StreamService.Lib.IStreamService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/Service" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="myBasicHttpBinding" maxReceivedMessageSize="90000000" transferMode="Streamed" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="myNetTcpBinding" transferMode="Streamed" maxReceivedMessageSize="90000000" sendTimeout="23:59:59" />
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="myBehavior">
          <!--为避免泄漏元数据信息，请在部署前将以下值设置为 false-->
          <serviceMetadata httpGetEnabled="true" />
          <!--要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false以避免泄漏异常信息-->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
